@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Asap+Condensed&family=Inter:opsz,wght@14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");
@import url('https://fonts.cdnfonts.com/css/duvall');
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Asap+Condensed&family=Inter:opsz,wght@14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");
* {
  /* font-family: Arial, Helvetica, sans-serif; */
  /* line-height: 20px;
  font-size: 15px; */
  box-sizing: border-box;
}
html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  overflow-x: hidden;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  
}
/* body:has(option[value="dark"]:checked){
  --background: black;
  --text-color: white;
} */
h1 {
  font-size: 36px;
  font-weight: 600;
}
p {
  color: #777;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}
.row {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
  animation: fadeInUpCustom 1s both 0.2s;
}

.layar-dalam {
  width: 1000px;
  margin: auto;
}
.layar-penuh {
  width: 100%;
  /* flex: 1; */
}

/* ------- nav v2 -------- */

nav {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.01);
  transition: 0.6s ease-out;
  padding: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 90%;
  margin: 0 auto;
  border-radius: 0 0 10px 10px;
}
.nav-bawah {
  position: fixed;
  top: -100px;
  width: 90%;
  left: 50%;
  border-radius: 0 0 10px 10px;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.904);
  padding: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;
  transition: top 0.75s ease-out;
}

.nav-bawah.show {
  top: 0;
}
.nav-bawah ul li a {
  color: black;
}
.nav-bawah ul li a:hover {
  color: #ff0000;
}

nav img {
  width: 150%;
  height: 150%;
  margin-right: 10px;
  border-radius: 50%;
  transition: transform 0.2s ease-in-out;
  z-index: 1;
}

nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* position: relative; */
}
nav li {
  height: 50px;
  /* position: relative; */
}
nav a {
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  margin: 0 auto;
  color: rgb(255, 255, 255);
  transition: 0.3s ease;
  position: relative;
}
nav a:hover {
  color: #ff0000;
}
nav li:first-child {
  margin-right: auto;
}
.label-merah{
  color: red;
}
.sidebar {
  position: fixed;
  right: 0;
  height: 100vh;
  width: 350px;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.377);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: center;
  transition: 0.75s ease;
}
.sidebar.show {
  display: flex;
  right: 0;
}

.sidebar li {
  width: 100%;
  position: relative;
}
.sidebar a {
  width: 100%;
  color: #ffffff;
  left: 0;
  margin-left: 0;
  padding-left: 0;
  text-align: left;
  justify-content: left;
}

.menu-button {
  left: 0;
  color: black;
  display: none;
}
/* .nav .menu-button svg {
  fill: #fff;
} */
.x-menu {
  fill: #000;
}
.nav-bawah .menu-button svg {
  fill: #000;
}

nav svg {
  /* fill: #000; */
  transition: 0.2s ease-out;
}
nav svg:hover {
  fill: red;
}


.language{
  position: relative;
  width: 120px;
  margin-left: 40px;
  font-weight: bold;
}
.language-selected {
  display: flex;
  align-items: center;
  color: #fff;
  cursor: pointer;
}
.language-selected:before{
  content: '';
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url(https://flagsapi.com/ID/flat/64.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 10px;

}

/* ------ Jquery ------  */
.language-selected.change-id:before{
  background-image: url(https://flagsapi.com/ID/flat/64.png);
}
.language-selected.change-en:before{
  background-image: url(https://flagsapi.com/US/flat/64.png);
}

.language ul {
  border-radius: 5px;
  /* display: block; */
  padding: 0;
  position: absolute;
  width: 70px;
  background-color: #fff;
  border: 1px solid #f8f8f8;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
  display: none;
  transition: 0.3s ease;
}
.language:hover ul{
  display: block;
}

.language ul li{
  list-style: none;
  /* margin: 0 auto; */
  display: flex;
  justify-content: left;
  align-items: left;
  /* padding: 10px; */
  transition: 0.3s ease;
  border-radius: 5px;
}
.language ul li:hover{
  background-color: #c4c4c4;
}
.language ul li a{
  width: 100%;
  font-size: 16px;
  display: block;
  color: #252525;
  /* padding-top: 5px 10px; */
  padding: 10px 0;
}
.language ul li a:before{
  content: '';
  display: inline-block;
  width: 25px;
  height: 25px;
  margin: 0 5px 0 2px;
  padding: 3px;
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
  /* margin-right: 10px; */
}
a.id:before{
  background-image: url(https://flagsapi.com/ID/flat/64.png);
}
a.en:before{
  background-image: url(https://flagsapi.com/US/flat/64.png);
}

.nav-bawah .language-selected{
  color: #000000;
}


/* TAMPILAN UTAMA SWIPER */

.swiper-tampilan-depan {
  position: relative;
  width: 100%;
  height: 100vh;
}

.swiper-tampilan-depan .swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
}

.swiper-tampilan-depan .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-tampilan-depan .swiper-slide::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  /* background-color: rgba(0, 0, 0, 0.63); */
  background-image: linear-gradient(to top, black, transparent);
  /* z-index: 1; */
}

.swiper-tampilan-depan .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
  background-repeat: no-repeat;

  /* animation: header-image-animation linear forwards;
  animation-timeline: view();
  animation-range: exit; */
}
/* @keyframes fade-out{
  top { opactiy: 0;}
}
@keyframes header-image-animation{
  25% { opacity: 1 ; }
  70%, 100% { opacity: 0; scale: 1.5}
} */
.swiper-tampilan-depan .swiper-slide img.khusus-kr {
  object-fit: unset;
}
@media (max-width: 700px) {
  .swiper-tampilan-depan .swiper-slide img {
    width: 100%;
    height: 100%;
    /* object-fit:unset */
  }
}

.swiper-button-prev,
.swiper-button-next {
  color: #ff0000;
  transition: 0.3s;
}
.swiper-button-prev:hover,
.swiper-button-next:hover {
  color: #fff;
  opacity: 0.8;
}

.swiper-tampilan-depan .swiper-pagination {
  /* background: rgba(255, 0, 0, 0.4); */
  padding: 10px 0;
  /* border-radius: 4px; */
  /* border: 2px solid #333; */
}

.swiper-tampilan-depan .swiper-pagination * {
  background: #ff0000;
  
}

/* Title halama depan */
.swiper-slider-content {
  position: absolute;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  width: 100%;
}
.swiper-slider-content .slider-title {
  /* padding: 20px; */
  /* line-height: 2; */
  font-size: 4rem;
  margin: 0;
  animation: fadeInDown 1s both 0.2s;
  /* font-family: 'Montserrat', sans-serif; */
  /* font-family: "Open Sans", sans-serif; */
  font-family: 'Duvall', sans-serif;

}



.swiper-slider-content .slider-title span {
  font-size: 4rem;
  color: red;
}
.swiper-slider-content .slider-title span.run{
  color: red;
}

/* ch itu adalah character, shg melimit asi ukuran font sesuai dengan karakter yang ada */
.swiper-slider-content .slider-description {
  width: 60ch;
  /* line-height: 2; */
  font-size: 16px;
  animation: fadeInDown 1s both 0.2s;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  /* font-family: 'Duvall', sans-serif; */
}

/* Tombol A atau Button */
.swiper-slider-content .slider-action {
  font-family: 'Montserrat', sans-serif;
  /* font-family: 'Duvall', sans-serif; */
  color: white;
  border: 1px solid white;
  padding: 0.5rem 3rem;
  font-size: 1.1rem;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 4px;
  width: fit-content;
  position: relative;
  isolation: isolate; /* membuat element ini tidak bergantung dengan elemen lain nya / berdiri sendiri */
  transition: all 500ms;
  animation: fadeInUp 1s both 0.4s;
}

.swiper-slider-content .slider-action::before {
  content: "";
  background-color: #ffffff;
  inset: 0; /* ini singkatan dari top,bot,left,right ; 0*/
  position: absolute;
  z-index: -1;
  width: 0; /* di tulis 0 agar slider hover nya ada transisi dari 0 ke 100% */
  transition: all 500ms;
}
.swiper-slider-content .slider-action:hover {
  color: rgb(0, 0, 0);
}

.swiper-slider-content .slider-action:hover:before {
  width: 100%;
}

section {
  padding: 50px 0px 50px 0px;
}
section h3 {
  font-size: 30px;
}
.layar-dalam h3::after {
  content: "";
  border-bottom: 5px solid #c86b85;
  width: 70px;
  display: block;
  margin: 15px auto;
}
#aboutus {
  text-align: center;
}

/* --------- kr run -------- */
/* ------------- categories ------ */
.marathon-categories {
  width: 70%;
  margin: 50px auto;
  text-align: center;
  padding: 0 20px;
  font-family: 'Poppins', sans-serif;
}
.judulUtama{
  /* font-family: "Quicksans", sans-serif; */
  margin-top: 50px;
  font-family: 'Jost', sans-serif;
  font-weight: 700;
  color: #333;
  font-size: 40px;
}
.judulUtama::after {
  content: "";
  border-bottom: 3px solid #ff0048;
  width:  90px;
  display: block;
  margin: 5px auto;
}

.category-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 24px;
  margin-bottom: 30px;
}

.category {
  background:  #f3f3f3;
  padding: 30px 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  /* transition: transform 0.3s ease; */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  opacity: 0;
  transform: translateY(80px);
  transition: all 0.8s ease;
  will-change: opacity, transform;
  
}
.category.show {
  opacity: 1;
  transform: translateY(0);
}
.category.delay-1 {
  transition-delay: 0.2s;
}
.category.delay-2 {
  transition-delay: 0.4s;
}
.category.delay-3 {
  transition-delay: 0.6s;
}

.category:hover {
  transform: translateY(-6px) scale(1.04);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.category h3 {
  font-size: 28px;
  margin-bottom: 10px;
  /* color: #e91e63; */
  /* color: #e46e63; */
  color: #f80000;
}
.category p{
  text-align: left;
  align-items: center;
  gap: 8px;
  color: #000;
}
.category ul {
  list-style: none;
  text-align: left;
  margin-top: 15px;
  padding-left: 0;
  line-height: 2;
  font-size: 15px;
}

.category ul li {
  margin-bottom: 8px;
  text-align: left;
}
.category ul li::before {
  content: "✔"; /* Bisa diganti: "✔️", ✅"⭐", "🔹", dst */
  margin-right: 8px;
  display: inline-block;
  color: red;
  font-weight: bold;
  font-size: 16px;
}
.badge {
  background-color: #f80000;
  color: white;
  padding: 4px 12px;
  border-radius: 20px;
  font-size: 12px;
  position: absolute;
  top: 10px;
  right: 10px;
}


.registration {
  margin-top: 30px;
  animation: fadeInUp 1s both 0.4s ;
}

.btn-register {
  display: inline-block;
  padding: 14px 32px;
  background-color: #f80000;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border-radius: 8px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.btn-register:hover {
  background-color: #8d0202;
}


/* ---------------Kaerindo------------- */
.kaerindo {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 50px;

}
.kaerindo h3 {
  font-size: 40px;
  /* font-weight: 600; */
  font-family: 'Jost', sans-serif;
  font-weight: 700;
  color: #333;
}
/* .kaerindo .judult{
  animation: fadeInDown 1s both 0.2s;
} */
.kaerindo .judult::after {
  content: "";
  border-bottom: 5px solid #c86b85;
  width: 100px;
  display: block;
  margin: 20px auto;
}
.kaerindo p {
  width: 80%;
  margin: auto;
  text-align: center;
  justify-content: center;
  font-size: 16px;
  font-size: 'Jost', sans-serif;
  font-weight: 700;
  color: #333;
}




.kaerindo .row {
  margin-top: 2%;
  display: flex;
  justify-content: space-between;
}
.kaerindo-col {
  flex-basis: 46%;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.kaerindo-col img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.layer {
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}

.layer:hover {
  background: rgba(226, 0, 0, 0.7);
}
.layer h3 {
  width: 100%;
  font-weight: 500;
  color: #fff;
  font-size: 26px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  opacity: 0;
  transition: 0.5s;
}
.layer:hover h3 {
  bottom: 49%;
  opacity: 1;
}
.hero-btn {
  margin-top: 15px;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
  border-radius: 5px;
}
.hero-btn:hover {
  border: 1px solid #f44336;
  background: #f44336;
  transition: 0.5s;
}

.red-btn {
  border: 1px solid #f44336;
  background: transparent;
  color: #f44336;
}
.red-btn:hover {
  color: #fff;
}

.cta-container {
  text-align: center;
  margin-top: 220px;
  flex-direction: column;
  display: none;
}

.valorant-button {
  position: relative;
  padding: 12px 32px;
  background: transparent;
  border: 2px solid #666;
  color: #333;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  overflow: hidden;
  letter-spacing: 1px;
  transition: color 0.3s ease, border-color 0.3s ease;
  z-index: 1;
  text-decoration: none;
}

.valorant-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) scaleX(0);
  transform-origin: center;
  width: 100%;
  height: 100%;
  background: #ff4655;
  z-index: -1;
  transition: transform 0.4s ease;
}

.valorant-button:hover::before {
  transform: translateX(-50%) scaleX(1);
}

.valorant-button:hover {
  color: white;
  border-color: #999;
}
.team-cta{
  display: block;
  margin-top: 0;
  padding: 20px;
}
.team-btn{
  padding: 10px 30px;
}

/* Javascript */

section.abuabu {
  background-color: #f5f6f6;
  width: 80%;
  margin: 0 auto;
}
.support {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.support{ 
   justify-content: space-around;
  flex-wrap: wrap;
  }
  
.support h6 {
  margin: 0px;
  margin-top: 20px;
  padding: 0px;
  font-size: 18px;
  font-weight: 700;
  font-family: 'Jost', sans-serif;
  color: #333;
}
.support img {
  width: 50px;
}
.support-item {
  text-align: center;
  width: 26%;
}
.support-item .prof{
  margin-top: 27px;
}

/* SWIPER SLIDER FOR GALERI */
/* Container */
#slider-2 {
  /* background-color: #f5f6f6; */
  width: 80%;
  margin: 0 auto;
}
.wide {
  max-width: 46rem;
  margin: auto;
}

.wide {
  max-width: 100%;
  /* padding: 0 4rem; */
}

/* Swiper */
.wide .swiper-slide img {
  display: block;
  width: 100%;
  /* height: 40rem; */
  object-fit: cover;
  border-radius: 12px;
  aspect-ratio: 16/9;
  transition: 0.2s linear;
  cursor: pointer;
}

.wide .swiper-slide figure {
  padding: 1px;
  position: relative;
  margin: 0;
  overflow: hidden;
  border: 2px solid transparent;
  border-radius: 12px;
  transition: 0.2s;
}
.wide .swiper-slide figure:active img {
  cursor: grabbing;
}
.wide .swiper-slide figure:hover {
  background-color: red;
}

.swiper-slide figure:hover img {
  transform: scale(1.2);
}

.wide .swiper-custom-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  z-index: 10;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.wide .swiper-custom-nav svg:hover {
  opacity: 1;
}

/* SPAN BUAT ZOOM CLICK */

.wide .popup-image {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  height: 100vh;
  width: 100vw;
  z-index: 1000;
  display: none;
  border-radius: 10px;
}
.onclick-img-jpg {
  z-index: 1000;
  position: fixed;
  border-radius: 10px;
}
/* .wide .popup-image span {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 60px;
  font-weight: bolder;
  color: #fff;
  cursor: pointer;
  z-index: 100;
  transition: 0.3s ease;
}
.wide .popup-image span:hover {
  color: #f00101;
} */

.wide .popup-image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* TOP , LEFT & Transform ini 1 paket membuatnya Menjadi Tengah */
  border: 5px solid #666666;
  border-radius: 5px;
  width: 57%;
  height: auto;
  object-fit: cover;
  aspect-ratio: 16/10;
  cursor: grab;
}
.close-button {
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 60px;
  font-weight: bolder;
  color: #fff;
  cursor: pointer;
  padding: 15px;
  transition: 0.3s ease;
}

.zoom-controls {
  display: flex;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 100;
}

.zoom-in,
.zoom-out {
  display: flex;
  font-size: 30px;
  font-weight: bolder;
  background: #333;
  color: #fff;
  cursor: pointer;
  z-index: 100;
  transition: 0.3s ease;
  padding: 5px;
}
.zoom-in:hover,
.zoom-out:hover,
.close-button:hover {
  color: red;
}

.zoom-in {
  left: 10px;
}

.zoom-out {
  right: 10px;
}

/* QUOTEE SEKSI */
section.quote {
  width: 80%;
  margin: 0 auto;
  background: url("/asset/img/KR.jpg") no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #fff;
  /* font-size: 25px; */
  font-style: italic;
  padding: 200px;
  border-radius: 0 250px 0 250px;
}
section.quote .layar-dalam p {
  color: black;
  padding: 40px;
  font-size: 50px;
}
section.quote .layar-dalam p::before{
  content: '❝';
  font-size: 5rem;
  font-weight: 300;
  color: #ff0000;
  top: -20px;
  left: 10px;
  font-family: 'Poppins', sans-serif;
}

/* OUR TEAM */
.tim {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

#team {
  display: flex;
  text-align: center;
  /* float: left; */
  /* width: 100%; */
  width: 80%;
  margin: 0 auto;
}

.tim div {
  text-align: center;
  width: 26%;
}
.layar-dalam h3 {
  font-family: 'Jost', sans-serif;
  font-weight: 700;
  color: #333;
  font-size: 40px;
}

.tim h6 {
  margin: 0px;
  margin-top: 20px;
  padding: 0px;
  font-size: 18px;
  font-weight: bold;
  font-family: 'Jost', sans-serif;
  color: #333;
}
.tim span {
  color: rgba(0, 0, 0, 0.555);
}

.tim .socials {
  display: flex;
  position: center;
  justify-content: center;
  margin: 0;
  width: auto;
}
.tim .socials a {
  color: black;
  margin: 10px 5px;
  text-decoration: none;
  /* border-radius: 50%; */
  /* width: 30px;
  /* padding: 3px 3px; */
  text-align: center;
  /* background-color: #2600ff17; */
  font-size: 0.1rem;
  transition: 0.3s;
}
.tim .socials .facebook:hover {
  color: #1877f2;
  transform: scale(1.3);
}
.tim .socials .instagram:hover {
  color: #e4405f;
  transform: scale(1.3);
}
.tim .socials .twitter:hover {
  color: #1da1f2;
  transform: scale(1.3);
}

.tim img {
  width: 100%;
  height: 280px;
  box-shadow: 0px -10px 30px #ccc;
  border-radius: 10px;
  transition: transform 0.8s;
  cursor: pointer;
  object-fit: cover;
}
.tim img:hover {
  transform: scale(1.2);
}



/* FOOTER */
footer {
  background: #ff0000;
  border-radius: 90px 0 0 0;
  position: flex;
  bottom: 0;
  width: 100%;
  border-bottom: solid;
}

footer * {
  color: white;
}

.containerf {
  display: flex;
  justify-content: space-between;
  padding: 50px 7%;
}

.footer-col {
  width: 25%;
}

.footer-col h2 {
  font-size: 1.7em;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.footer-col p {
  padding: 0;
}



p.email {
  margin: 30px 0;
}

p.phone {
  font-size: 20px;
  font-weight: 400;
}

.footer-col .text-office {
  margin-bottom: 20px;
}
/* ANIMASI GARIS GERAK */
.underline {
  width: 70px;
  height: 3px;
  position: relative;
  background-color: rgb(255, 0, 0);
  margin-top: 5px;
  margin-bottom: 20px;
  border-radius: 3px;
  overflow: hidden;
}

.underline span {
  width: 7px;
  height: 100%;
  position: absolute;
  left: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 3px;
  animation: moving 3.3s linear infinite;
}
.footer-col i {
  font-size: 20px;
  transition: 0.3s;
  padding: 0px 5px;
  color: #d5d8db;
}
.footer-col i:hover {
  color: #aadaff;
  opacity: 1;
  transform: scale(1.5);
}
.col {
  position: relative;
}
.col p {
  color: white;
  justify-content: center;
  text-align: center;
}




.footer-col ul {
  list-style-type: none;
  padding-top: 10px;
  padding: 0;
}

.footer-col ul li {
  margin: 10px 0;
}
.footer-col ul a {
  text-decoration: none;
  transition: 0.3s;
}
.footer-col ul a:hover {
  color: red;
}

.footer-col form {
  margin-top: 20px;
  border-bottom: 1px solid white;
  padding-bottom: 10px;
  display: flex;
}

.footer-col form input {
  width: 70%;
  background: transparent;
  border: none;
  outline: none;
  padding-left: 10px;
}

.footer-col form i {
  font-size: 25px;
}
.footer-col form .msg:hover {
  color: red;
  transform: none;
}
.footer-col form .arrow:hover {
  color: red;
  transform: none;
}
.footer-col .social-icons {
  margin-top: 20px;
}

.footer-col .social-icons i {
  padding: 10px;
  background-color: white;
  color: black;
  border-radius: 50%;
  margin: 5px;
  transition: 0.3s;
}

.footer-col .social-icons .fa-facebook:hover {
  background: #1877f2;
  color: white;
  transform: scale(1.2);
  opacity: 1;
}
.footer-col .social-icons .fa-whatsapp:hover {
  background: #25d366;
  color: white;
  transform: scale(1.2);
  opacity: 1;
}
.footer-col .social-icons .fa-instagram:hover {
  background: #fe107c;
  color: white;
  transform: scale(1.2);
  opacity: 1;
}
.footer-col .social-icons .fa-youtube:hover {
  background: #fff;
  color: #ff0000;
  transform: scale(1.2);
  opacity: 1;
}
.footer-col .social-icons .fa-google:hover {
  background: #ea4335;
  color: white;
  transform: scale(1.2);
  opacity: 1;
}

.footer-para {
  max-width: 250px;
}





.backgroundBack{
  background-color: #000000b4;
}

.footer {
  width: 100%;
  text-align: center;
  padding: 60px 0;
  background: linear-gradient(to right, #3c0000b9, #4e4e4ed7);
  border-top: solid 1px #000;
  margin-top: 50px;
  position: relative;
  /* border-radius: 90px 0 0 0; */
}

.footer p {
  font-size: 15px;
  color: #fff;
}
.ending-page {
  position: relative;
  top: 20px;
  font-size: 12px;
}

.swiper-slider-content .slider-title.eventAtas{
  font-family: 'Duvall', sans-serif ;

  margin-top: 50px;
 
}
.swiper-slider-content .slider-description.angkaEvent{
  font-size: 30px;
  margin-top: 0px;
  margin-bottom: 0;
  /* padding-bottom: 10px; */

}
.satu {
  padding: 0;
  padding-bottom: 10px;
  margin: 0;
  font-size: 15px;
  color: #fff;
  line-height: 2;
  
}

/* Media queerry */

@media screen and (max-width: 991.98px) {
  .layar-dalam {
    width: 90%;
  }
  nav .menu ul {
    display: none;
    margin-top: 60px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  nav .menu ul li {
    width: 100%;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
    line-height: 40px;
  }
  nav .menu ul li a {
    color: #333;
  }
  /* .tombol-menu {
    display: flex;
  } */
  .blog .area {
    display: block;
  }
  .blog div.area div {
    width: 100%;
  }
  .blog .area .gambar {
    border-radius: 5px 5px 0px 0px;
    height: 200px;
  }
  .support {
    display: block;
  }
  .support-item {
    width: 100%;
    padding-bottom: 30px;
  }

}

/* swiper slider  */
@media screen and (max-width: 800px) {
  .card-wrapper {
    margin: 0 10px 25px;
  }

  .card-wrapper .swiper-slide-button {
    display: none;
  }

  .containerrr .popup-image span {
    top: 5px;
    right: 5px;
    font-size: 50px;
  }

  .columns {
    width: 100%;
  }
  .heading {
    font-size: 2em;
  }
  div.swiper-slider-content .slider-title {
    font-size: 2.5rem;
  }
  div.swiper-slider-content .kaerindo-judul span {
    font-size: 2.5rem;
  }
  div.swiper-slider-content h2 .utami {
    display: block;
  }
  div.swiper-slider-content .span-class {
    font-size: 2.5rem;
  }
  div.swiper-slider-content .slider-description {
    font-size: 15px;
    padding: 10px 50px;
    width: 50ch;
  }
  div.swiper-slider-content .slider-description.angkaEvent{
    font-size: 26px;
  }
  div.swiper-slider-content .slider-action {
    font-size: 0.8rem;
    padding: 0.4rem 2rem;
  }
  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }
  #contact .containerf .footer-col {
    width: 100%;
    font-size: 1px;
  }
  .kaerindo p{
    width: 90%;
    padding: 0;
    font-size: 13px;
    text-align: left;
  }
  .kaerindo {
    width: 90%;
  }
  section.abuabu{
    width: 100%;
  }
}

/* Media query untuk membuat gambar responsive */
@media screen and (max-width: 1366px) {
  section.quote {
    background-size: 100% 100%;
    padding: 150px;
  }
  section.quote .layar-dalam p {
    font-size: 30px;
    padding: 20px;
    background-size: 30px;
  }
}


@media screen and (max-width: 800px) {
  section.quote {
    margin-top: 50px;
    background-size: 100% 100%;
    padding: 100px;
    width: 100%;
    border-radius: 100px 0 100px 0;
  }
  section.quote .layar-dalam.dalam-quote{
    width: 100%;
    margin: 0;
  }
  section.quote .layar-dalam p {
    font-size: 15px;
    padding: 0;
    background-size: 20px;
  }
  .nav-links ul li.regis-hide {
    display: block;
  }
}

@media screen and (max-width: 400px) {
  section.quote {
    background-size: 100% 100%;
    padding: 100px;
    width: 100%;
  }
  section.quote .layar-dalam.dalam-quote{
    width: 100%;
    margin: 0;
  }
  section.quote .layar-dalam p {
    font-size: 15px;
    padding: 0;
  }
  .containerrr .popup-image span {
    top: 2px;
    right: 2px;
    font-size: 15px;
  }
  div.swiper-slider-content .slider-title {
    font-size: 2rem;
  }
  div.swiper-slider-content .slider-title.kaerindo-judul {
    font-size: 2rem;
  }
  div.swiper-slider-content .slider-title.kaerindo-judul span {
    font-size: 2rem;
  }
  div.swiper-slider-content .span-class {
    font-size: 2rem;
  }
  div.swiper-slider-content .slider-description {
    font-size: 15px;
    padding: 10px 50px;
    width: 50ch;
  }
  div.swiper-slider-content .slider-description.angkaEvent{
    font-size: 20px;
  }
  div.swiper-slider-content .slider-title span {
    font-size: 2rem;
  }
  div.swiper-slider-content .slider-action {
    font-size: 0.8rem;
    padding: 0.3rem 2rem;
  }
  .layar-dalam {
    width: 90%;
  }
}



@media (max-width: 800px) {
  .hideOnMobile {
    display: none;
  }
  .menu-button {
    display: block;
  }
  .sidebar {
    width: 200px;
    top: 0;
    right: 0;

    margin: 0;
  }

  .sidebar.show{
    right: 0;
    top: 0;
  }
  .nav-bawah {
    width: 100%;
  }
  nav{
    width: 100%;
    padding: 0;
  }
  nav img {
    width: 125%;
    height: 125%;
  }
  nav .ul-utama{
    padding: 0;
  }
  .language.hide {
    display: none;
  }
  .nav-bawah .language{
    display: none;
  }
   .sidebar .language{
    margin: 0;
    padding: 0;
  }
  .wide .popup-image img{
    width: 100%;
    height: auto;
    /* transform: translate(-70%, -50%); */
  }
  .wide .popup-image{
    width: 100vw;
    height: 100%;
  }
  .close-button{
    top: 10px;
    right: 10px;
  }
  #slider-2{
    margin-top: 50px;
    padding:20px 0;
    width: 98%;
  }
  section.quote .layar-dalam p::before{
    content: '“';
    font-size: 2rem;
    color: #ff0000;
  }
  #team{
    width: 100%;
  }
  .footer {
    padding: 80px;
  }
  .footer p{
    font-size: 12px;
  }
  .valorant-button {
    padding: 8px 25px ;
    font-size: 13px;
    margin-top: 20px;
  }
  .footer-col h2 {
    font-size: 13px;
  }
  .containerf {
    flex-direction: column;
  }
  .tim {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .tim img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .tim div {
    width: 70%;
    margin: 10px;
  }
  .tim h6{
    font-size: 16px;
  }
  .tim span{
    font-size: 14px;
  }
  .kaerindo .row {
    flex-direction: column;
    padding-top: 30px;
  }
  .cta-container{
    display: block;
    margin-top: 0;
  }
  .support-item .prof{
    margin-top: 20px;
  }
  .support-item  p{
    font-size: 13px;
  }
  .support-item  h6{
    font-size: 16px;
  }
  .marathon-categories{
    width: 100%;
   }
   .category-grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 400px) {
  .sidebar {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .menu-button {
    display: block;
  }

  .sidebar a {
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 0;
  }
  nav {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .nav-bawah {
    top: -100px;
    padding: 0;
    width: 100%;
  }
  nav img {
    width: 100%;
    height: 100%;
  }
  nav .ul-utama{
    padding: 0;
  }
  .sidebar .language-selected {
    position: relative;
  }
  .sidebar .language {
    margin: 0 auto;
    width: 20%;
    text-align: center;
    justify-content: center;
  }
  .tim div {
    width: 60%;
  }
  .wide .popup-image img{
    width: 90vw;
    height: auto;
    /* transform: translate(-70%, -50%); */
  }
  .wide .popup-image{
    width: 100vw;
    height: 100%;
  }
  .close-button{
    top: 10px;
    right: 10px;
  }
  .footer p{
    font-size: 10px;
  }
  .tim h6{
    font-size: 15px;
  }
  .tim span{
    font-size: 12px;
  }
  .valorant-button {
    padding: 5px 20px ;
    font-size: 13px;
  }
  .marathon-categories{
    width: 100%;
   }
}








.fadeInUp {
  animation: fadeInUp 1s ease-out forwards;
}
.fadeInDown {
  animation: fadeInDown 1s ease-out forwards;
}
.fadeInUpCustom {
  animation: fadeInUpCustom 1s ease-out forwards;
}



/* @media (prefers-reduced-motion: no-preference) */
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
    }
  
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
  
  @keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translate3d(0, -100%, 0);
    }
  
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
  
  @keyframes fadeInUpCustom {
    from {
    opacity: 0;
    transform: translate3d(0, 20px, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
    }

    @keyframes moving {
      0% {
        left: -20px;
      }
      100% {
        left: 100%;
      }
    }