@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Asap+Condensed&family=Inter:opsz,wght@14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* width: 1000px; */
  height: 100vh;
  background-color: #f8f7f4;
  font-family: "Jost", sans-serif;
  overflow-x: hidden;
}

/* ---------- nav ----------  */
nav {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99;
  background-color: rgba(255, 255, 255, 0.01);
  transition: 0.6s ease-out;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 90%;
  margin: 0 auto;
  border-radius: 0 0 10px 10px;
}
.nav-bawah {
  position: fixed;
  top: -100px;
  width: 90%;
  left: 50%;
  border-radius: 0 0 10px 10px;
  transform: translateX(-50%);
  background-color: rgb(255, 255, 255);
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;
  transition: top 0.75s ease-out;
}

.nav-bawah.show {
  top: 0;
}
.nav-bawah ul li a {
  color: black;
}
.nav-bawah ul li a:hover {
  color: #ff0000;
}
.nav-galeri{
  color: #ff0000;
}
nav img {
  width: 150%;
  height: 150%;
  margin-right: 10px;
  border-radius: 50%;
  transition: transform 0.2s ease-in-out;
  z-index: 1;
}

nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* position: relative; */
}
nav li {
  height: 50px;
  /* position: relative; */
}
nav a {
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  margin: 0 auto;
  color: rgb(255, 255, 255);
  transition: 0.3s ease;
  position: relative;
}
nav a:hover {
  color: #ff0000;
}
nav li:first-child {
  margin-right: auto;
}
nav a.label-merah, .nav-bawah a.label-merah{
  position: relative;
  color: red;
  /* animation: pulseGlow 2.5s ease-in-out infinite; */
}

.sidebar {
  position: fixed;
  right: 0;
  height: 100vh;
  width: 350px;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.377);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: center;
  transition: 0.75s ease;
}
.sidebar.show {
  display: flex;
  right: 0;
}

.sidebar li {
  width: 100%;
  position: relative;
}
.sidebar a {
  width: 100%;
  color: #ffffff;
  left: 0;
  margin-left: 0;
  padding-left: 0;
  text-align: left;
  justify-content: left;
}

.menu-button {
  left: 0;
  color: black;
  display: none;
}
/* .nav .menu-button svg {
  fill: #fff;
} */
.x-menu {
  fill: #000;
}
.nav-bawah .menu-button svg {
  fill: #000;
}

nav svg {
  /* fill: #000; */
  transition: 0.2s ease-out;
}
nav svg:hover {
  fill: red;
}


.language{
  position: relative;
  width: 120px;
  margin-left: 40px;
  font-weight: bold;
}
.language-selected {
  display: flex;
  align-items: center;
  color: #fff;
  cursor: pointer;
}
.language-selected:before{
  content: '';
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url(https://flagsapi.com/ID/flat/64.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 10px;

}

/* ------ Jquery ------  */
.language-selected.change-id:before{
  background-image: url(https://flagsapi.com/ID/flat/64.png);
}
.language-selected.change-en:before{
  background-image: url(https://flagsapi.com/US/flat/64.png);
}

.language ul {
  border-radius: 5px;
  /* display: block; */
  padding: 0;
  position: absolute;
  width: 70px;
  background-color: #fff;
  border: 1px solid #f8f8f8;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
  display: none;
  transition: 0.3s ease;
}
.language:hover ul{
  display: block;
}

.language ul li{
  list-style: none;
  /* margin: 0 auto; */
  display: flex;
  justify-content: left;
  align-items: left;
  /* padding: 10px; */
  transition: 0.3s ease;
  border-radius: 5px;
}
.language ul li:hover{
  background-color: #c4c4c4;
}
.language ul li a{
  width: 100%;
  font-size: 16px;
  display: block;
  color: #252525;
  /* padding-top: 5px 10px; */
  padding: 10px 0;
}
.language ul li a:before{
  content: '';
  display: inline-block;
  width: 25px;
  height: 25px;
  margin: 0 5px 0 2px;
  padding: 3px;
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
  /* margin-right: 10px; */
}
a.id:before{
  background-image: url(https://flagsapi.com/ID/flat/64.png);
}
a.en:before{
  background-image: url(https://flagsapi.com/US/flat/64.png);
}

.nav-bawah .language-selected{
  color: #000000;
}



.hero {
  height: 80vh;
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('/gallery/img/img2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.hero-content {
  position: relative;
  z-index: 1;
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 20px;
  color: #ff0000;
  z-index: 1;
  /* animation: fadeInDown 1s both 0.2s; */
}

.hero p {
  font-size: 20px;
  color: #fff;
  /* animation: fadeInUpCustom 1s both 0.6s; */
}







/* -------- galeri 1 ---------  */

/* SWIPER SLIDER FOR GALERI */
/* Container */
.wide {
  max-width: 46rem;
  margin: auto;
}

.wide {
  max-width: 70%;
  padding: 0;
  margin-top: 1rem;
}

/* Swiper */
.wide .swiper-slide img {
  display: block;
  width: 100%;
  /* height: 40rem; */
  object-fit: cover;
  border-radius: 12px;
  aspect-ratio: 16/9;
  transition: 0.2s linear;
  cursor: pointer;
}

.wide .swiper-slide figure {
  padding: 1px;
  position: relative;
  margin: 0;
  overflow: hidden;
  border: 2px solid transparent;
  border-radius: 12px;
  transition: 0.3s ease;
}
.wide .swiper-slide figure:active img {
  cursor: grabbing;
}
.wide .swiper-slide figure:hover {
  background-color: red;
}

.swiper-slide figure:hover img {
  transform: scale(1.3);
}

.wide .swiper-custom-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  z-index: 10;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.wide .swiper-custom-nav svg:hover {
  opacity: 1;
}

/* SPAN BUAT ZOOM CLICK */
.wide .popup-image {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  height: 100vh;
  width: 100vw;
  z-index: 999;
  display: none;
  border-radius: 10px;
}
.onclick-img-jpg {
  z-index: 1000;
  position: fixed;
  border-radius: 10px;
}
.wide .popup-image span:hover {
  color: #f00101;
}

.wide .popup-image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* TOP , LEFT & Transform ini 1 paket membuatnya Menjadi Tengah */
  border: 5px solid #666666;
  border-radius: 5px;
  width: 57%;
  height: auto;
  object-fit: cover;
  aspect-ratio: 16/10;
  cursor: grab;
}

/* .wide .popup-image span {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 60px;
  font-weight: bolder;
  color: #fff;
  cursor: pointer;
  z-index: 100;
  transition: 0.3s ease;
} */

.close-button {
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 60px;
  font-weight: bolder;
  color: #fff;
  cursor: pointer;
  padding: 15px;
  transition: 0.3s ease;
}

.zoom-controls {
  display: flex;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 100;
}

.zoom-in, .zoom-out {
  display: flex;
  font-size: 30px;
  font-weight: bolder;
  background: #333;
  color: #fff;
  cursor: pointer;
  z-index: 100;
  transition: 0.3s ease;
  padding: 15px;
}
.zoom-in:hover, .zoom-out:hover, .close-button:hover {
  color: #ff0000;
}

.zoom-in {
  left: 10px;
}

.zoom-out {
  right: 10px;
}



/* -------- galeri -----------  */

/* img {
  display: block;
  width: 100%;
  height: 100%;
} */

.myGallery * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
  display: flex;
  /* align-items: center;
  justify-content: center; */

}

.myGallery {
  width: 70%;
  position: relative;
  margin: 0 auto;
}
.myGallery .teratas,
#slider-2 .teratas {
  position: relative;
  font-size: 40px;
  margin: 25px;
  justify-content: center;
  text-align: center;
  color: #333;
  /* animation: fadeInUpCustom 1s both 0.2s; */
}
.myGallery .teratas::after,
#slider-2 .teratas::after{
  content: "";
  position: absolute;
  left: 50%;
  bottom: -10px;
  transform: translateX(-50%) scaleX(0);
  width: 100px;
  height: 3px;
  background-color: #ff2121;
  transform-origin: center;
  transition: transform 0.4s ease 0.5s;
  /* animation: growLine 0.6s ease forwards 1s; */
}

.myGallery p,
#slider-2 p {
  justify-content: center;
  text-align: center;
  font-size: 24px;
  color: #333;
  width: 60%;
  margin: auto;
  margin-bottom: 30px;
  font-family: 'Jost', sans-serif;
  font-weight: 700;
  /* animation: fadeInUpCustom 1s both 0.2s; */
}


.myGallery .swiper {
  width: 100%;
  padding: 0;
}
.myGallery .swiper-slide {
  width: 250px;
  aspect-ratio: 3/4;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  user-select: none;
  overflow: hidden;
  z-index: -1;
  position: relative;
}
.myGallery .swiper-slide:active img{
  cursor: grabbing;
}

.myGallery .swiper-slide img {
  object-fit: cover;
  pointer-events: none;
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  transition: .3s ease;
  cursor: pointer;
}
.myGallery .swiper-slide:hover img{
  transform: scale(1.3);
}

.myGallery .caption {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  background: rgba(0, 0, 0, 0.438);
  color: #e2e2e2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  transform: translateY(70px);
  transition: all 0.3s ease;
}
.myGallery .swiper-slide:hover .caption {
  transform: translateY(0);
}
.myGallery h1 {
  font-size: 1.2rem;
  letter-spacing: 1px;
}
ion-icon {
  color: #fff;
  font-size: 1.5rem;
  opacity: 0.85;
  transition: all 0.35s ease;
  cursor: pointer;
}
ion-icon:hover {
  opacity: 1;
}
ion-icon.active {
  color: red;
  opacity: 1;
}


@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}
.myGallery .swiper-wrapper {
  transition-timing-function: linear !important;
}

.logo-section {
  text-align: center;
  padding: 60px 0 20px;
}

.logo-section h2 {
  margin: 0 auto;
  width: 50%;
  font-size: 24px;
  color: #333;
  margin-bottom: 30px;
  /* animation: fadeInUpCustom 1s both 0.5s; */
}


.logo-swiper {
  width: 70%;
  margin: 0 auto;
  padding: 20px 0;
  background: #f1eeee;
  overflow: hidden;
  /* border-radius: 12px; */
  cursor: grabbing;
  position: relative;

}
/* Fade kiri */
.logo-swiper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 100%;
  background: linear-gradient(to right, #f1eeee 0%, transparent 100%);
  z-index: 2;
  pointer-events: none;
}

/* Fade kanan */
.logo-swiper::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 100%;
  background: linear-gradient(to left, #f1eeee 0%, transparent 100%);
  z-index: 2;
  pointer-events: none;
}

.logo-wrapper {
  display: flex;
 
}

.logo-slide {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 120px; */
  margin-right: 30px;
  /* border-left: 1px solid #999; */
  width: 120px; 
  height: 100px;
  
}

.logo-slide img {
  max-width: 250px;
  max-height: 100px;
  opacity: 0.8;
  transition: opacity 0.3s ease, transform 0.7s ease;
  object-fit: unset; 
}

.logo-slide img:hover {
  opacity: 1;
}
.logo-slide:hover img{
  transform: scale(1.1);
}
.logo-right {
  padding-bottom: 0;
}
.swiper-left{
  border-radius: 20px 20px 0 0 ;
}
.swiper-right {
  direction: rtl;
  border-radius:  0 0 20px 20px;
}
.swiper-right .swiper-wrapper {
  direction: ltr; /* balik isi supaya text tidak ikut mirror */

}

.cta-container {
  text-align: center;
  margin-top: 40px;
}
.valorant-button {
  position: relative;
  padding: 12px 32px;
  background: transparent;
  border: 2px solid #666;
  color: #333;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  overflow: hidden;
  letter-spacing: 1px;
  transition: color 0.3s ease, border-color 0.3s ease;
  z-index: 1;
  text-decoration: none;
}

.valorant-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) scaleX(0);
  transform-origin: center;
  width: 100%;
  height: 100%;
  background: #ff4655;
  z-index: -1;
  transition: transform 0.4s ease;
}

.valorant-button:hover::before {
  transform: translateX(-50%) scaleX(1);
}

.valorant-button:hover {
  color: white;
  border-color: #999;
}







/* ------------- footer style 2 ------------  */
.footer {
  width: 100%;
  text-align: center;
  padding: 60px 0;
  background: linear-gradient(to right, #3c0000, #4e4e4e);
  border-top: solid 1px #000;
  margin-top: 50px;
  position: relative;
}

.footer p {
  color: #fff;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
}



@media (max-width: 1200px){
  nav a {
    padding: 0 10px;
  }
  .sidebar .language{
    margin: 0;
    padding: 0 0 0 10px;
  }
  .formbold-form-wrapper{
    width: 100%;
  }
  }
  
  @media (max-width: 800px) {
    .hideOnMobile {
      display: none;
    }
    .menu-button {
      display: block;
    }
    .sidebar {
      width: 200px;
      padding-left: 10px;
    }
    .nav-bawah {
      width: 100%;
    }
    nav img {
      width: 125%;
      height: 125%;
    }
    .language.hide {
      display: none;
    }
    .nav-bawah .language{
      display: none;
    }
     .sidebar .language{
      margin: 0;
      padding: 0;
    }
    .terms-box{
      width: 90vw;
      height: 70vh;
    }    
    nav {
      width: 100%;
      padding: 0;
    }
    .hero {
      height: 8g0vh;
    }
    .hero-content p{
      font-size: 15px;
    }
    .sidebar{
      padding: 10px;
    }
    #slider-2 p,.myGallery p{
      width: 100%;
      font-size: 15px;
      line-height: 1.4;
    }
    .logo-section h2{
      width: 90%;
      font-size: 13px;
      margin-bottom: 20px;
    }
    .logo-swiper{
      /* overflow: none; */
      width: 95%;
      padding: 0;
    }
    .logo-slide img {
      max-width: 100px;
      max-height: 80px;
      opacity: 1;
  }
  .containerrr .popup-image span {
    top: 5px;
    right: 5px;
    font-size: 50px;
  }
  .wide .popup-image img{
    width: 100%;
    height: auto;
    /* transform: translate(-70%, -50%); */
  }
  .wide .popup-image{
    width: 100vw;
    height: 100%;
  }
  .close-button{
    top: 10px;
    right: 10px;
  }
  .myGallery{
    width: 100%;
  }
  .myGallery .swiper-slide{
    width: 200px;
  }
  .myGallery .caption{
    height: 40px;
  }
  .myGallery .caption h1{
    font-size: 13px;
  }
  .wide {
    max-width: 100%;
  }
  .myGallery .teratas,
#slider-2 .teratas{
    font-size: 28px;
  }
  .valorant-button{
    padding: 8px 25px ;
    font-size: 12px;
    background-color: #ff0000;
    color: #fff;
  }
  .footer p{
    margin-top: 10px;
    font-size: 12px;
  }
}
  @media (max-width: 400px) {
    .sidebar {
      width: 100%;
    }
    .menu-button {
      display: block;
    }
  
    .sidebar a {
      align-items: center;
      text-align: center;
      justify-content: center;
      padding: 0;
    }
    nav {
      width: 100%;
      padding: 0;
    }
    .nav-bawah {
      top: -80px;
      padding: 0;
      width: 100%;
    }
    nav img {
      width: 100%;
      height: 100%;
    }
    .sidebar .language-selected{
      position: relative;
    }
    .sidebar .language{
      margin: 0 auto;
      width: 20%;
      text-align: center;
      justify-content: center;
    }
    .containerrr .popup-image span {
      top: 2px;
      right: 2px;
      font-size: 15px;
    }
    .wide .popup-image img{
      width: 90vw;
      height: auto;
      /* transform: translate(-70%, -50%); */
    }
    .wide .popup-image{
      width: 100vw;
      height: 100%;
    }
    .close-button{
      top: 10px;
      right: 10px;
    }
  }




/* -------- transisi scroll ------  */
/* Dasar semua animasi */
.scroll-fade-up,
.scroll-fade-down,
.scroll-fade-left,
.scroll-fade-right {
  opacity: 0;
  transition: all 1s ease;
}

.scroll-fade-up {
  transform: translateY(80px);
}
.scroll-fade-down {
  transform: translateY(-80px);
}
.scroll-fade-left {
  transform: translateX(-80px);
}
.scroll-fade-right {
  transform: translateX(80px);
}

/* Saat terlihat */
.scroll-fade-up.show,
.scroll-fade-down.show,
.scroll-fade-left.show,
.scroll-fade-right.show {
  opacity: 1;
  transform: translate(0, 0);
}



  
  /* @media (prefers-reduced-motion: no-preference) */
    @keyframes fadeInUp {
      from {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
      }
    
      to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
    }
    
    @keyframes fadeInDown {
      from {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
      }
    
      to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
    }
    
    @keyframes fadeInUpCustom {
      from {
      opacity: 0;
      transform: translate3d(0, 20px, 0);
      }
      to {
          opacity: 1;
          transform: translate3d(0, 0, 0);
      }
      }

      @keyframes fadeSlideIn {
        to {
          opacity: 1;
          transform: translateY(0);
        }
      }
      
      /* Animasi garis membesar */
      @keyframes growLine {
        to {
          transform: translateX(-50%) scaleX(1);
        }
      }
      @keyframes growLine {
        to {
          transform: translateX(-50%) scaleX(1);
        }
      }
    @keyframes pulseGlow {
      0% {
        text-shadow: 0 0 0px #d62828;
      }
      50% {
        text-shadow: 0 0 10px #d62828, 0 0 20px #d62828aa;
      }
      100% {
        text-shadow: 0 0 0px #d62828;
      }
    }