@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Asap+Condensed&family=Inter:opsz,wght@14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  background: #000;
  /* height: 55vh; */
  width: 100%;
  object-fit: cover;
  background-image: linear-gradient(to top, black, transparent), url(img/KR.jpg);
  backdrop-filter: blur(3px);
  background-attachment: fixed;
  background-position: center;
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  color: #fff;
  position: relative;
}

nav {
  position: relative;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.01);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  transition: 0.6s ease-out;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 90%;
  margin: 0 auto;
  border-radius: 0 0 10px 10px;
}
.nav-bawah {
  position: fixed;
  top: -100px;
  width: 90%;
  left: 50%;
  border-radius: 0 0 10px 10px;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.904);
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 999;
  transition: top .75s ease-out;
}

.nav-bawah.show {
  top: 0;
}
.nav-bawah ul li a {
  color: black;
}
.nav-bawah ul li a:hover {
  color: #ff0000;
}

nav img {
  width: 150%;
  height: 150%;
  margin-right: 10px;
  border-radius: 50%;
  transition: transform 0.2s ease-in-out;
}

nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav li {
  height: 50px;
}
nav a {
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #030303;
  transition: 0.3s ease;
}
nav a:hover {
  color: #ff0000;
}
nav li:first-child {
  margin-right: auto;
}
nav a.label-merah, .nav-bawah a.label-merah{
  color: red;
  animation: pulseGlow 2.5s ease-in-out infinite;

}
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 350px;
  z-index: 999;
  background-color: #ffffffd5;
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: center;
  transition: 0.75s ease;
}
.sidebar.show {
  display: flex;
  right: 0;
}

.sidebar li {
  width: 100%;
}
.sidebar a {
  width: 100%;
  color: #000000;
}

.menu-button {
  left: 0;
  color: black;
  display: none;
}
.nav .menu-button svg {
  fill: #030303;
}
svg.x-menu {
  fill: #030303;
}
svg.menu-btn {
  fill: #030303;
}
.nav-bawah .menu-button svg {
  fill: #030303;
}

svg {
  /* fill: #000; */
  transition: 0.2s ease-out;
}
svg:hover {
  fill: red;
}

.language {
  position: relative;
  width: 120px;
  margin-left: 40px;
  font-weight: bold;
}
.language-selected {
  display: flex;
  align-items: center;
  color: #030303;
  cursor: pointer;
}
.language-selected:before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url(https://flagsapi.com/ID/flat/64.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 10px;
}

/* ------ Jquery ------  */
.language-selected.change-id:before {
  background-image: url(https://flagsapi.com/ID/flat/64.png);
}
.language-selected.change-en:before {
  background-image: url(https://flagsapi.com/US/flat/64.png);
}

.language ul {
  border-radius: 5px;
  /* display: block; */
  position: absolute;
  width: 70px;
  background-color: #fff;
  border: 1px solid #f8f8f8;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
  display: none;
  transition: 0.3s ease;
}
.language:hover ul {
  display: block;
}

.language ul li {
  list-style: none;
  /* margin: 0 auto; */
  display: flex;
  justify-content: left;
  align-items: left;
  /* padding: 10px; */
  transition: 0.3s ease;
  border-radius: 5px;
}
.language ul li:hover {
  background-color: #c4c4c4;
}
.language ul li a {
  width: 100%;
  font-size: 16px;
  display: block;
  color: #252525;
  /* padding-top: 5px 10px; */
  padding: 10px 0;
}
.language ul li a:before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  margin: 0 5px 0 2px;
  padding: 3px;
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
  /* margin-right: 10px; */
}
a.id:before {
  background-image: url(https://flagsapi.com/ID/flat/64.png);
}
a.en:before {
  background-image: url(https://flagsapi.com/US/flat/64.png);
}

.nav-bawah .language-selected {
  color: #000000;
}

/* ------ Location -------- */

.location {
  width: 100%;
  padding: 20px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  /* width: 100%;
  margin: auto;
  padding: 80px 0;
  z-index: -1; */
  margin-bottom: 50px;
}
.location iframe {
  width: 100%;
  border-radius: 10px;
}

/* --------contact us v2 ------  */
#hubungi-kami {
  width: 80%;
  margin: 0 auto;
  padding: 60px 20px;
  color: #fff;
  text-align: center;
  overflow: hidden;
}

#hubungi-kami h2 {
  font-size: 2.5rem;
  margin-bottom: 40px;
  font-weight: 700;
  color: #fff;
}

.contact-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  align-items: center;
}

/* BAGIAN KIRI */
.contact-left {
  flex: 1;
  min-width: 280px;
  text-align: center;
}

.contact-left img {
  width: 500px;
  height: 500px;
  object-fit: contain;
  border-radius: 50%;
  border: 5px solid #ff0000;
  box-shadow: 0 8px 20px rgba(255,70,85,0.4);
  margin-bottom: 15px;
}


.contact-left h3 {
  font-size: 1.6rem;
  margin-bottom: 8px;
}

.contact-left p {
  font-size: 1rem;
  color: #ccc;
}

/* BAGIAN KANAN */
.contact-right {
  flex: 1;
  min-width: 280px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 25px;
}

.contact-card {
  border-radius: 15px;
  padding: 25px 20px;
  transition: all 0.3s ease;
  text-align: center;
  cursor: pointer;
}

.contact-card:hover {
  transform: translateY(-8px);
  /* background: rgba(255, 255, 255, 0.15); */
}

.contact-card i {
  font-size: 3.5rem;
  color: #ff0000;
  margin-bottom: 12px;
  transition: 0.3s ease;
}
.contact-card:hover i.wa {
  color: #fff;
}
.contact-card:hover i.ig {
  color: #fff;
}
.contact-card:hover i.yt {
  color: #fff;
}
.contact-card:hover i.web {
  color: #fff;
}
.contact-card:hover i.run {
  color: #fff;
}
.contact-card:hover i.mail {
  color: #fff;
}
.contact-card h3 {
  font-size: 1.1rem;
  margin-bottom: 6px;
  font-weight: 600;
}

.contact-card p {
  font-size: 0.95rem;
  color: #ddd;
}



/* ---------------- Contact Us -------------  */
.container {
  width: 80%;
  padding: 20px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.container h2 {
  width: 100%;
  color: #ff3131ef;
  font-size: 38px;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;
}
.container .row100 {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.container .row100 .col {
  position: relative;
  width: 100%;
  padding: 0 10px;
  margin: 30px 0 10px;
  transition: 0.5s;
}
.container .row100 .inputBox {
  position: relative;
  width: 100%;
  height: 48px;
  color: #fcf5e5;
}
.container .row100 .inputBox input,
.container .row100 .inputBox.textarea textarea {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  box-shadow: none;
  border: none;
  outline: none;
  font-size: 18px;
  padding: 0 10px;
  z-index: 1;
  color: #030303;
}
.container .row100 .inputBox .text {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 40px;
  font-size: 18px;
  padding: 0 10px;
  display: block;
  transition: 0.5s;
  pointer-events: none;
}
.container .row100 .inputBox input:focus + .text,
.container .row100 .inputBox input:valid + .text {
  top: -35px;
  left: -10px;
  color: #ff2400;
}
.container .row100 .inputBox .line {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 2px;
  background: #fcf5e5;
  transition: 0.5s;
  border-radius: 2px;
  pointer-events: none;
}
.container .row100 .inputBox input:focus ~ .line,
.container .row100 .inputBox input:valid ~ .line {
  height: 100%;
  background: #fff;
}
.container .row100 .inputBox.textarea {
  position: relative;
  width: 100%;
  height: 100px;
  padding: 10px 0;
}
.container .row100 .inputBox.textarea textarea {
  height: 100%;
  resize: none;
}
.container .row100 .inputBox textarea:focus + .text,
.container .row100 .inputBox textarea:valid + .text {
  top: -35px;
  left: -10px;
  color: #ff0000;
}
.container .row100 .inputBox textarea:focus ~ .line,
.container .row100 .inputBox textarea:valid ~ .line {
  height: 100%;
  background: #fff;
}


.valorant-btn-neon {
  position: relative;
  padding: 14px 40px;
  background: #0f1923;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 800;
  text-transform: uppercase;
  border: 2px solid #fff;
  cursor: pointer;
  clip-path: polygon(10px 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%, 0 10px);
  letter-spacing: 2px;
  transition: all 0.25s ease-in-out;
}

.valorant-btn-neon:hover {
  background: #fff;
  color: #000;
  text-shadow: 0 0 8px #fff, 0 0 12px #ff4655;
  box-shadow: 0 0 18px rgba(255,70,85,0.9);
  transform: translateY(-3px);
}



#honeypot {
  visibility: hidden;
  position: absolute;
  left: -9999px;
}



.muted{
  font-size:13px;
  color:#bdbdbd;
  margin-top:6px;}

/* --------------- footer -------  */

.footer {
  width: 100%;
  text-align: center;
  padding: 70px 0;
  background: linear-gradient(to right, #3c0000b9, #4e4e4ed7);
  border-top: solid 1px #000;
  margin-top: 50px;
  position: relative;
  /* border-radius: 90px 0 0 0; */
}

.footer p {
  font-size: 15px;
  color: #fff;
}
.ending-page {
  position: relative;
  top: 20px;
  font-size: 12px;
}
.fa-up-long {
  position: absolute;
  bottom: 6px;
  right: 30px;
  font-size: 30px;
  cursor: pointer;
  color: red;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  z-index: 100;
}
.fa-up-long:hover {
  color: #fff;
  transform: scale(1.3);
}

@media (max-width: 1200px) {
  nav a {
    padding: 0 10px;
  }
  .sidebar .language {
    margin: 0;
    padding: 0 0 0 10px;
  }
}

@media (max-width: 800px) {
  .hideOnMobile {
    display: none;
  }
  .menu-button {
    display: block;
  }
  .sidebar {
    width: 200px;
  }
  .nav-bawah {
    width: 90%;
  }
  nav img {
    width: 125%;
    height: 125%;
  }
  .language.hide {
    display: none;
  }
  .nav-bawah .language {
    display: none;
  }
  .sidebar .language {
    margin: 0;
    padding: 0 0 0 10px;
  }
  .container .row100 .inputBox .text{
    font-size: 18px;
  }
  div.submit{
    justify-content: center;
    text-align: center;
  }
  .container{
    width: 100%;
    /* padding: 0; */
  }
  .location{
    width: 100%;
    padding: 0;
  }
  #hubungi-kami {
    width: 100%;
  }

  .contact-left img {
    width: 300px;
    height: 300px;
  }
  .muted {
    font-size: 11px;
  }
  .contact-card {
    padding: 15px 10px;
  }
  .contact-card i {
    font-size: 3rem;
  }
  .valorant-btn-neon {
    font-size: 1rem;
    padding: 10px 30px;
  }
}

@media (max-width: 400px) {
  #hubungi-kami h2 {
    font-size: 2rem;
  }
  .contact-left h3 {
    font-size: 1.4rem;
  }
  .sidebar {
    width: 100%;
  }
  .menu-button {
    display: block;
  }

  .sidebar a {
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 0;
  }
  nav {
    width: 100%;
    padding: 0;
  }
  .nav-bawah {
    top: -80px;
    padding: 0;
    width: 100%;
  }
  nav img {
    width: 100%;
    height: 100%;
  }
  .sidebar .language-selected {
    position: relative;
  }
  .sidebar .language {
    margin: 0 auto;
    width: 20%;
    text-align: center;
    justify-content: center;
  }

  .btn {
    font-size: 15px;
    height: 40px;
  }
  .container h2{
    font-size: 30px;
  }
  .container .row100 .inputBox .text{
    font-size: 15px;
  }
  div.submit{
    justify-content: center;
    text-align: center;
  }
  input[type="submit"]{
    padding: 7px 35px;
    margin-right: 20px;
  }
  .container .row100 .inputBox .line{
    width: 96%;
  }
}


    /* Glowing pulse merah */
    @keyframes pulseGlow {
      0% {
        text-shadow: 0 0 0px #d62828;
      }
      50% {
        text-shadow: 0 0 10px #d62828, 0 0 20px #d62828aa;
      }
      100% {
        text-shadow: 0 0 0px #d62828;
      }
    }