@import url("https://fonts.cdnfonts.com/css/duvall");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  /* overflow-x: hidden; */
}
body {
  justify-content: center;
  align-items: center;
  display: flex;
  min-height: 100vh;
  background: black;
  /* background: rgba(96, 255, 22, 0.623); */
  background-repeat: no-repeat;
  background-size: cover;
}

section.showcase {
  width: 100%;
}
.showcase video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  opacity: 0.3;
}
/* .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
} */

/* -----------NAV----------- */
nav {
  position: relative;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.01);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  transition: 0.6s ease-out;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 90%;
  margin: 0 auto;
  border-radius: 0 0 10px 10px;
}
.nav-bawah {
  position: fixed;
  top: -100px;
  width: 90%;
  left: 50%;
  border-radius: 0 0 10px 10px;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.904);
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 999;
  transition: top 0.75s ease-out;
}

.nav-bawah.show {
  top: 0;
}
.nav-bawah ul li a {
  color: black;
}
.nav-bawah ul li a:hover {
  color: #ff0000;
}

nav .logo {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
  cursor: pointer;
  width: max-content;
  left: 10px;
}

nav .logo .logo-text {
  opacity: 0;
  transform: translateX(-10px);
  transition: opacity 0.6s ease, transform 0.6s ease;
  white-space: nowrap;
  font-weight: 600;
  font-size: 1.2rem;
  color: #fdf2f2;
  pointer-events: none; /* agar teks tidak mengganggu hover */
  position: absolute;
}

nav .logo:hover img {
  /* transform: scale(1.1); */
  opacity: 0;
  transform: scale(0.8);
  filter: blur(2px);
}

nav .logo:hover .logo-text {
  opacity: 1;
  transform: translateX(0);
  pointer-events: auto;
}

nav img {
  /* width: 150%;
  height: 150%;
  margin-right: 10px;
  border-radius: 50%;
  transition: transform 0.2s ease-in-out; */

  width: 150%;
  height: 150%;
  cursor: pointer;
  border-radius: 8px;
  transition: transform 0.3s ease;

  filter: blur(0);
  transition: opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1),
    transform 0.4s cubic-bezier(0.4, 0, 0.2, 1),
    filter 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav li {
  height: 50px;
}
nav a {
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: rgb(255, 255, 255);
  transition: 0.3s ease;
}
nav a:hover {
  color: #ff0000;
}
nav li:first-child {
  margin-right: auto;
}
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 350px;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.377);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: center;
  transition: 0.75s ease;
}
.sidebar.show {
  display: flex;
  right: 0;
}

.sidebar li {
  width: 100%;
}
.sidebar a {
  width: 100%;
  color: #ffffff;
}

.menu-button {
  left: 0;
  color: black;
  display: none;
}
.nav .menu-button svg {
  fill: #fff;
}
.nav-bawah .menu-button svg {
  fill: #000;
}

svg {
  /* fill: #000; */
  transition: 0.2s ease-out;
}
svg:hover {
  fill: red;
}

.language {
  position: relative;
  width: 120px;
  margin-left: 40px;
  font-weight: bold;
}
.language-selected {
  display: flex;
  align-items: center;
  color: #fff;
  cursor: pointer;
}
.language-selected:before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url(https://flagsapi.com/ID/flat/64.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 10px;
}

/* ------ Jquery ------  */
.language-selected.change-id:before {
  background-image: url(https://flagsapi.com/ID/flat/64.png);
}
.language-selected.change-en:before {
  background-image: url(https://flagsapi.com/US/flat/64.png);
}

.language ul {
  border-radius: 5px;
  /* display: block; */
  position: absolute;
  width: 70px;
  background-color: #fff;
  border: 1px solid #f8f8f8;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
  display: none;
  transition: 0.3s ease;
}
.language:hover ul {
  display: block;
}

.language ul li {
  list-style: none;
  /* margin: 0 auto; */
  display: flex;
  justify-content: left;
  align-items: left;
  /* padding: 10px; */
  transition: 0.3s ease;
  border-radius: 5px;
}
.language ul li:hover {
  background-color: #c4c4c4;
}
.language ul li a {
  width: 100%;
  font-size: 16px;
  display: block;
  color: #252525;
  /* padding-top: 5px 10px; */
  padding: 10px 0;
}
.language ul li a:before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  margin: 0 5px 0 2px;
  padding: 3px;
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
  /* margin-right: 10px; */
}
a.id:before {
  background-image: url(https://flagsapi.com/ID/flat/64.png);
}
a.en:before {
  background-image: url(https://flagsapi.com/US/flat/64.png);
}

.nav-bawah .language-selected {
  color: #000000;
}

/* ------------Container------------ */

.container {
  width: 700px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 20px;
  z-index: -1;
  border: 2px solid #fff;
  background-color: rgba(255, 255, 255, 0.116);
  opacity: 1;
}
.container .number-1 {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2px;
  color: #fff;
  display: flex;
  margin-bottom: 20px;
  text-align: center;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
}
.container .number-2 {
  text-align: center;
  font-weight: 700;
  font-size: 38px;
  line-height: 34px;
  color: #fff;
  width: 100%;
  margin-bottom: 30px;
  /* font-family: 'Himalaya', sans-serif; */
  font-family: "Duvall", sans-serif;
}
.container img.img-box {
  padding: 0;
  box-sizing: border-box;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

.container img.img-box:hover {
  transform: scale(1.06);
  box-shadow: 0px 0px 30px 0.5px rgba(255, 6, 6, 0.5);
}

.container .formbold-event-details {
  background: #fafafa;
  border: 1px solid #dde3ec;
  border-radius: 10px;
  margin: 25px 0 30px;
}
.container .formbold-event-details path {
  fill: #000;
}

.container .formbold-event-details h5 {
  color: #000;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  padding: 15px 25px;
}
.container .formbold-event-details ul {
  border-top: 1px solid #e2e2e2;
  padding: 25px;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  row-gap: 14px;
}
.container .formbold-event-details ul li {
  color: #000;
  font-size: 16px;
  line-height: 24px;
  width: 50%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.container h2 {
  width: 100%;
  color: #f3f3f3;
  font-size: 36px;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 30px;
  text-align: left;
}
.container .row100 {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* gap: 10px; */
  /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
}
.container .row100.Panjang {
  /* grid-template-columns: repeat(2, 1fr); */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  text-align: center;
}
.container .row100 .col {
  position: relative;
  width: 100%;
  padding: 0 10px;
  margin: 30px 0 10px;
  transition: 0.5s;
}
.container .row100 .inputBox {
  position: relative;
  width: 100%;
  height: 48px;
  color: #fcf5e5;
}
.container .row100 .inputBox input,
.container .row100 .inputBox.textarea textarea {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  box-shadow: none;
  border: none;
  outline: none;
  font-size: 18px;
  padding: 0 10px;
  z-index: 1;
  color: #030303;
}
.container .row100 .inputBox .text {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 40px;
  font-size: 18px;
  padding: 0 10px;
  display: block;
  transition: 0.5s;
  pointer-events: none;
  color: #fcf5e5;
}
.container .row100 .inputBox input:focus + .text,
.container .row100 .inputBox input:valid + .text {
  top: -35px;
  left: -10px;
  color: #ff2400;
}
.container .row100 .inputBox .line {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 2px;
  background: #fff5ee;
  transition: 0.5s;
  border-radius: 2px;
  pointer-events: none;
  z-index: -1;
}
.container .row100 .inputBox input:focus ~ .line,
.container .row100 .inputBox input:valid ~ .line {
  height: 100%;
  background: #fff5ee;
}
.container .row100 .inputBox.textarea {
  position: relative;
  width: 100%;
  height: 100px;
  padding: 10px 0;
}
.container .row100 .inputBox.textarea textarea {
  height: 100%;
  resize: none;
}
.container .row100 .inputBox textarea:focus + .text,
.container .row100 .inputBox textarea:valid + .text {
  top: -35px;
  left: -10px;
  color: #ff3131;
}
.container .row100 .inputBox textarea:focus ~ .line,
.container .row100 .inputBox textarea:valid ~ .line {
  height: 100%;
  background: #fff;
  color: #ff3131;
}
input[type="submit"] {
  border: none;
  padding: 7px 35px;
  /* width: 50%; */
  margin: 0 auto;
  cursor: pointer;
  outline: none;
  background: #ff3131;
  color: #000;
  font-size: 18px;
  border-radius: 10px;
  color: #fff;
  transition: 0.3s;
}

input[type="submit"]:hover {
  /* color: #000000; */
  background-color: #ac3333;
  box-shadow: 0 0 0 0.5px rgb(0, 0, 0, 1);
  transform: scale(1.2);
}
/* div.send{
  width: 100%;
  justify-content: center;
  text-align: center;
} */

/* -------------- for kalender ----------------  */
input[type="date"] {
  color: transparent;
}

input[type="date"]:focus {
  color: #000;
}

input[type="date"]::-webkit-datetime-edit {
  color: transparent;
}

input[type="date"]:focus::-webkit-datetime-edit {
  color: #000;
}

input[type="date"]::-webkit-datetime-edit-fields-wrapper {
  color: transparent;
}

input[type="date"]:focus::-webkit-datetime-edit-fields-wrapper {
  color: #000;
}

input[type="date"]::-webkit-datetime-edit-text {
  color: transparent;
}

input[type="date"]:focus::-webkit-datetime-edit-text {
  color: #000;
}

input[type="date"]::-webkit-datetime-edit-month-field {
  color: transparent;
}

input[type="date"]:focus::-webkit-datetime-edit-month-field {
  color: #000;
}

input[type="date"]::-webkit-datetime-edit-day-field {
  color: transparent;
}

input[type="date"]:focus::-webkit-datetime-edit-day-field {
  color: #000;
}

input[type="date"]::-webkit-datetime-edit-year-field {
  color: transparent;
}

input[type="date"]:focus::-webkit-datetime-edit-year-field {
  color: #000;
}

/* ---------------LOGO KALENDER --------------------  */
input[type="date"]::-webkit-calendar-picker-indicator {
  /* filter: invert(1); */
  opacity: 1;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background-color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#arrowIcon,
#arrowIcon2,
#arrowIcon3 {
  width: 15px;
  /* height: 50%; */
  align-items: center;
  position: absolute;
  right: 20px;
  top: 15px;
  /* padding: 24px 40px; */
  cursor: pointer;
  z-index: 1;
}
.rotate {
  transform: rotate(180deg);
  transition: transform 0.3s ease-in-out;
}
#list,
#list2 {
  width: 93%;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 6px;
  overflow: hidden;
  position: absolute;
  z-index: 9999;
  line-height: 10px;
}

#list3 {
  width: 93%;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 6px;
  overflow: hidden;
  position: absolute;
  z-index: 9999;
  line-height: 1px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.options {
  width: 100%;
  padding: 15px 0 15px 40px;
  list-style: none;
  cursor: pointer;
  box-sizing: border-box;
  position: relative;
}
.options.edit {
  padding: 15px 0 15px 10px;
}
.options p {
  z-index: 9999;
  padding: 7px 0;
  margin: 0;
}
.options img {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 12px;
  left: 10px;
}
.options:hover {
  background: rgba(255, 255, 255, 0.7);
  /* transition: .1s ease; */
}
.col .hide {
  visibility: hidden;
  z-index: 1;
}

/* --------------- footer -------  */

.footer {
  width: 100%;
  text-align: center;
  padding: 70px 0;
  background: linear-gradient(to right, #3c0000b9, #4e4e4ed7);
  border-top: solid 1px #000;
  margin-top: 50px;
  position: relative;
  /* border-radius: 90px 0 0 0; */
}

.footer p {
  font-size: 15px;
  color: #fff;
}
.ending-page {
  position: relative;
  top: 20px;
  font-size: 12px;
}

@media (max-width: 1200px) {
  nav a {
    padding: 0 10px;
  }
  .sidebar .language {
    margin: 0;
    padding: 0 0 0 10px;
  }
}

@media (max-width: 800px) {
  .container {
    width: 100%;
  }
  .container h2 {
    font-size: 28px;
    text-align: center;
    margin-top: 50px;
  }
  .container .row100 {
    grid-template-columns: 1fr;
  }
  .container .row100 .inputBox .line {
    width: 100%;
  }
  .container .row100 .inputBox {
    position: relative;
    width: 100%;
    height: 48px;
    color: #fcf5e5;
  }
  .container .row100 .col {
    position: relative;
    width: 100%;
    padding: 0 10px;
    margin: 30px 0 10px;
    transition: 1s;
  }
  .row100.Panjang {
    text-align: center;
  }

  .formbold-event-details ul li {
    font-size: 13px;
    gap: 5px;
  }
  .container .row100 .inputBox .text {
    font-size: 14px;
  }

  .hideOnMobile {
    display: none;
  }
  .menu-button {
    display: block;
  }
  .sidebar {
    width: 200px;
  }
  .nav-bawah {
    width: 90%;
  }
  nav img {
    width: 125%;
    height: 125%;
  }
  .language.hide {
    display: none;
  }
  .nav-bawah .language {
    display: none;
  }
  .sidebar .language {
    margin: 0;
    padding: 0 0 0 10px;
  }
  .terms-box {
    width: 90vw;
    height: 70vh;
  }
  .terms-text {
    padding: 0 20px;
    height: 400px;
    font-size: 12px;
    font-weight: 500;
  }
  .terms-box ul li {
    font-size: 12px;
  }
}
@media (max-width: 400px) {
  .sidebar {
    width: 100%;
  }
  .menu-button {
    display: block;
  }

  .sidebar a {
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 0;
  }
  nav {
    width: 100%;
    padding: 0;
  }
  .nav-bawah {
    top: -80px;
    padding: 0;
    width: 100%;
  }
  nav img {
    width: 100%;
    height: 100%;
  }
  .sidebar .language-selected {
    position: relative;
  }
  .sidebar .language {
    margin: 0 auto;
    width: 20%;
    text-align: center;
    justify-content: center;
  }

  .container .row100 .inputBox .line {
    width: 100%;
  }
  .formbold-event-details ul {
    row-gap: 9px;
    padding: 12px 30px;
    width: 100%;
  }
  .formbold-event-details ul li {
    width: 100%;
  }
  .container .formbold-event-details ul li {
    width: 100%;
    text-align: center;
  }
}
